// cards
$selectedCard : #3C65CC;
$deselectedCard : #BBCDFA;
// text
$selectedText: #DAE4FD;
$deselectedText: #293247;
// header & footer
$navs: #344F96;
// logo
$bckLogo: #668EF6;
// background
$background: #fcfdfe;